services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: weather-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  airflow-webserver:
    image: apache/airflow:2.9.1-python3.11
    container_name: airflow-web
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW_DB_CONN}
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
      AIRFLOW__WEBSERVER__SECRET_KEY: ${AIRFLOW_SECRET_KEY}
    command: webserver
    volumes:
      - ./dags:/opt/airflow/dags
      - ./now:/opt/pipelines/now
      - ./after:/opt/pipelines/after
      - ${GCP_SERVICE_ACCOUNT_JSON_PATH}:/opt/keys/service-account.json
      - ${REGION_JSON_PATH}:/opt/pipelines/region.json
      - ${ICON_MAPPING_JSON_PATH}:/opt/pipelines/icon_mapping.json
      - ${ICON_DIR_PATH}:/opt/pipelines/icons
    ports:
      - "8080:8080"

  airflow-scheduler:
    image: apache/airflow:2.9.1-python3.11
    container_name: airflow-scheduler
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW_DB_CONN}
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
      AIRFLOW__WEBSERVER__SECRET_KEY: ${AIRFLOW_SECRET_KEY}
    command: scheduler
    volumes:
      - ./dags:/opt/airflow/dags
      - ./now:/opt/pipelines/now
      - ./after:/opt/pipelines/after
      - ${GCP_SERVICE_ACCOUNT_JSON_PATH}:/opt/keys/service-account.json
      - ${REGION_JSON_PATH}:/opt/pipelines/region.json
      - ${ICON_MAPPING_JSON_PATH}:/opt/pipelines/icon_mapping.json
      - ${ICON_DIR_PATH}:/opt/pipelines/icons

volumes:
  postgres_data: